In [2]:
'''You are a pilots,it is "safe to land" a plane,if it is 1000ft.
If it is less than that,tell pilot to land the plane,or it is more than that but
ask the pilot to "bring down to 1000ft" else it is more than 5000ft ask the pilot try again'''


altitude=int(input("Enter the Altitude:"))
if(altitude<=1000):
    print("Safe to Land")
elif(altitude>1000 & altitude<5000):
    print("Bring to 1000feet")
elif(altitude>5000):
    print("Turn Around and try later")

Enter the Altitude:1000
Safe to Land

In [3]:






#Using for loop print all prime number between 1 and 200 along with range function

for num in range(2,201):
  for i in range(2,num):
    if(num%i==0):
      break
  else:
       print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199